Data grouping using pandas

In [1]:
import pandas as pd

In [39]:
d={'name':['ali','umer','huma','iqra','hina','faheem','basit','alia','hira','aoun'],'batch':['2020','2021','2020','2021','2023','2023','2024','2024','2024','2020'],'cgpa':[3.01,2.99,3.7,4,2.1,3.4,2.7,3.8,3.7,2.9],'department':['cs','IT','Dpharm','english','IT','SE','SE','engineering','Dpharm','cs']}

In [40]:
d

{'name': ['ali',
  'umer',
  'huma',
  'iqra',
  'hina',
  'faheem',
  'basit',
  'alia',
  'hira',
  'aoun'],
 'batch': ['2020',
  '2021',
  '2020',
  '2021',
  '2023',
  '2023',
  '2024',
  '2024',
  '2024',
  '2020'],
 'cgpa': [3.01, 2.99, 3.7, 4, 2.1, 3.4, 2.7, 3.8, 3.7, 2.9],
 'department': ['cs',
  'IT',
  'Dpharm',
  'english',
  'IT',
  'SE',
  'SE',
  'engineering',
  'Dpharm',
  'cs']}

In [41]:
df=pd.DataFrame(d)

In [42]:
p=df.groupby('batch')

In [43]:
p.first()

        name  cgpa department
batch
2020     ali  3.01         cs
2021    umer  2.99         IT
2023    hina  2.10         IT
2024   basit  2.70         SE

In [44]:
p=df.groupby('batch')

In [45]:
p

In [46]:
p=df.groupby('batch').cgpa.mean()#to group data batchwise but with the mean of their cgpa in each batch

In [48]:
p

batch
2020    3.203333
2021    3.495000
2023    2.750000
2024    3.400000
Name: cgpa, dtype: float64

In [49]:
p=df.groupby(['batch','department']).cgpa.mean()

In [50]:
p

batch  department
2020   Dpharm         3.700
       cs             2.955
2021   IT             2.990
       english        4.000
2023   IT             2.100
       SE             3.400
2024   Dpharm         3.700
       SE             2.700
       engineering    3.800
Name: cgpa, dtype: float64